body{
    margin: 0 auto;
    animation: cambiarColor 10s infinite alternate;
 font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
    @keyframes cambiarColor {
      0%   { background-color: #360157; }
      10%  { background-color: #45026f; }
      20%  { background-color: #560289; }
      30%  { background-color: #6504a1; }
      40%  { background-color: #7d04c9; }
      50%  { background-color: #9005e6; }
      60%  { background-color: #9c17ee; }
      80%  { background-color: #ad29ff; }
      100% { background-color: #57028c; }
    }
.separa{
    margin-top: 15%;
    text-align: center;
}
.separa h1{
    font-size: 60px;
}
.separa h3{
    font-size: 30px;
}
a{
    font-size: 30px;
    background-color: rgb(227, 241, 21);
    color: black;
    text-decoration: none;
    border-radius: 15px;
}